.alert-container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    filter: invert(5%);
  }

  &__message {
    position: relative;
    margin-right: 0.5em;
    color: var(--font-p-color);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -0.25em;
      height: 100%;
      width: 1px;
      background-color: hsl(0, 0%, 50%);
    }
  }

  &::after {
    content: "X";
    font-weight: 550;
    background-color: var(--alert-x-background-color);
    color: var(--font-h-color);
    padding: 0.2em 0.4em 0.3em 0.4em;
    border-radius: 50%;
    opacity: var(--after-opacity, 0);
    transition: opacity 0.5s ease;
  }

  &__filler-animation {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--alert-filler-background-color);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px hsl(0, 0%, 30%, 0.5);
    z-index: -1;
  }

  &__timer-animation {
    position: absolute;
    left: 1em;
    bottom: 0;
    width: 54%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--alert-timer-background-color);
  }

  body.arabic & {
    flex-direction: row-reverse;

    &__message {
      margin-right: 0;
      margin-left: 0.5em;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -0.25em;
        right: auto;
        height: 100%;
        width: 1px;
        background-color: hsl(0, 0%, 50%);
      }
    }

    // &::before {
    //   content: "X";
    //   font-weight: 550;
    //   background-color: var(--alert-x-background-color);
    //   color: var(--font-h-color);
    //   padding: 0.2em 0.4em 0.3em 0.4em;
    //   border-radius: 50%;
    //   opacity: var(--after-opacity, 0);
    //   transition: opacity 0.5s ease;
    // }

    // &::after {
    //   content: "";
    //   padding: 0;
    // }

    &__timer-animation {
      right: 1em;
      left: auto;
    }
  }
}