.animate--10s {
  animation-duration: 10s;
}

.animate--1s {
  animation-duration: 1s;
}

.animate--05s {
  animation-duration: 0.5s;
}

@keyframes alert-popIn {
  0% {
    height: 0%;
    width: 20%;
  }

  4% {
    height: 100%;
    width: 40%;
  }

  5% {
    height: 100%;
    width: 40%;
  }

  10% {
    width: 30%;
  }

  12% {
    height: 100%;
    width: 100%;
  }
}

@keyframes alertFadeIn {
  from {
    background-color: rgba(255, 255, 255, 0);
  }

  to {
    background-color: white;
  }
}

@keyframes alertFadeOut {
  0% {
    visibility: visibile;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes alertFadeIn--opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes alert--timer {
  0% {
    width: 0%;
  }

  20% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.alert-popIn {
  animation-name: alert-popIn;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 10s;
}

.alertFadeIn {
  animation-name: alertFadeIn;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 0.5s;
}

.alertFadeIn--opacity {
  animation-name: alertFadeIn--opacity;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 0.5s;
}

.alertFadeOut {
  animation-name: alertFadeOut;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 10s;
}

.alert--timer {
  animation-name: alert--timer;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-duration: 10s;
}