@use '/src/styles/utils/_BreakPoints' as w;
@use '/src/styles/utils/_StyleKits' as k;

.admin {
  display: flex;
  flex-direction: column;
  // background-color: var(--light-background-color);
  padding-inline: 1em;
  body.arabic & {direction: rtl}

  &__breadCrumb-sec {
    padding-block: 1em;
  }

  &__title-sec {
    display: flex;
    padding-block: 1em;
    gap: 1em;

    &__h1 {
      color: var(--font-h-color);
      white-space: nowrap;
      text-overflow: ellipsis; 
      margin-right: auto;
    }

    &__btn {
      @include k.diamond-btn-styles (var(--boxSeam-primaryColor-icon), var(--background-color));
      position: static;
      transform: rotate(45deg);
      width: 1.7em;
      height: 1.7em;
      border: solid 1px var(--primary-color);
      
      &:hover {
        @include k.diamond-btn-styles (var(--boxSeam-icon), var(--primary-color));
        position: static;
        transform: rotate(45deg);
        width: 1.7em;
        height: 1.7em;
        border: none;
      }
      
      &:hover::before {background-size: 1em; filter: invert(100%)}
      &::before {
        background-size: 1em;
      }
    }
  }

}