@use 'src/Styles/Utils/_BreakPoints' as w;

.advertList-container {
  padding: 0.5em;
  body.arabic & {
    direction: rtl;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__product-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      padding: 0.5em;

      &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        object-position: center;
        border: solid 1px;
      }

      &__description {

      }

      &__brandLogo {
        width: 100%;
      }

      &__price {
        font-weight: 600;

        & .currency-symbol {
          margin-inline: 0.5em;
        }
      }

      &__cart-utils {
        display: flex;
        border: solid hsl(0, 0%, 70%);
        border-radius: 5px;
        align-items: center;


        &__add-to-cart {
          font-weight: 600;
          flex: 1;
          padding: 0.3em;
        }
        
        &__increment,
        &__decrement {
          height: 100%;
          aspect-ratio: 1 / 1;
          border: solid hsl(0, 0%, 85%);
          background-repeat: no-repeat;
          background-size: cover;                
        }
        &__increment {
          background-image: url(/src/assets/Img/Icons/add.svg);
          border-width: 0 1px;
        }

        &__decrement {
          background-image: url(/src/assets/Img/Icons/minus.svg);
          border-width: 0 0 0 1px;
        }


        &__add-to-cart,
        &__increment,
        &__decrement {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: red;
            z-index: -1;
            transition: height 0.5s ease;
          }

          &:hover::before {
            height: 100%;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            transition: height 0.5s ease;
            backdrop-filter: invert(100%);
          }

          &:hover::after {
            height: 100%;
          }
        }

        &__total {
          display: flex;
          align-items: center;
          font-weight: bold;
          height: 100%;
          text-align: center;
          background-color: hsl(0, 0%, 85%);
          padding-inline: 0.3em;
        }
      }
    }
  }
}