.ham-menu-container {
  visibility: hidden;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0);
  z-index: 100;
  transition: background-color 0.5s ease-out;

  &__side-box {
    display: flex;
    width: 15rem;
    flex-direction: column;
    background-color: var(--hamMenu-sideBox-color);
    transform: translateX(-15rem);
    transition: transform 0.5s ease-out;

    &__menu {
      display: flex;
      justify-content: space-between;
      font-size: var(--hamMenu-menu-font);
      font-weight: bold;
      background-color: var(--hamMenu-menu-background-color);
      color: var(--font-h-color);
      padding: 1rem;
      
      & img {
        background-color: hsl(0, 0%, 50%, 0);
        border-radius: 6rem;
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.2rem;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        transition: background-color 0.25s ease;

        &:hover {
          background-color: hsl(0, 0%, 50%, 1);
        }
      }
    }

    &__list {
      & li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.7rem;
        opacity: 0.8;
        font-size: var(--hamMenu-list-font);
        font-weight: 500;
        color: var(--font-h-color);
        // color: red;
        cursor: pointer;
        
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 65%;
          height: 1px;
          background-color: hsl(0, 0%, 60%);
        }

        &:hover {
          opacity: 1;
        }

        & .expand-circle {
          // display: flex;
          width: var(--hamMenu-list-icon);
          margin-left: auto;
        }
      }

    }
  }  
}