.ham-menu-container {
  visibility: hidden;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0);
  z-index: 100;
  transition: background-color 0.5s ease-out;

  body.arabic & {
    flex-direction: row-reverse;

    &__side-box {

      &__menu {
        flex-direction: row-reverse;
      }
      
      &__menu-list {
        & > li {
          flex-direction: row-reverse;
          &__secondary-list {

          }
        }
      }

      & .expand-circle {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }


  &__side-box {
    display: flex;
    width: 15rem;
    flex-direction: column;
    background-color: var(--hamMenu-sideBox-color);
    // transform: translateX(-15rem);
    transition: transform 0.5s ease-out;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--hamMenu-menu-font);
      font-weight: bold;
      background-color: var(--hamMenu-menu-background-color);
      color: var(--font-h-color);
      padding: 1rem;
      
      &__exit-icon {
        background-color: hsl(0, 0%, 50%, 0);
        border-radius: 6rem;
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        transition: background-color 0.25s ease;

        &:hover {
          background-color: hsl(0, 0%, 50%, 1);
        }
      }
    }

    &__menu-list {

      &__lists {
        position: relative;
        display: flex;
        flex-direction: column;

        &__title {
          display: flex;
          align-items: center;
          padding: 0.7rem;
          opacity: 0.8;
          font-size: var(--hamMenu-list-font);
          font-weight: 500;
          color: var(--font-h-color);
          // color: red;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          & .expand-circle {
            // display: flex;
            width: var(--hamMenu-list-icon);
            margin-left: auto;
          }

        }

        &__secondary-list {
          display: flex;
          flex-direction: column;
          height: 0;
          // flex-shrink: 0;
          overflow: hidden;
          transition: height 0.5s ease;

          &__lists {
            padding: 0.5rem 1.4rem;
          }

          &.clicked {
            height: auto;
          }
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 65%;
          height: 1px;
          background-color: hsl(0, 0%, 60%);
        }
      }
    }
  }  
}