.userinfo-container {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: var(--secondary-color);

  body.arabic & {
    flex-direction: row-reverse;

    &__light-dark-button  {
      margin: 0.3em auto 0.3em 0.5em;
    }
  }

  &__icons-a {    
    &__img {
      width: var(--icon-size);
      margin: 0.3em 0.5em;
    }
  }

  &__light-dark-button, &__language-button {
    background-color: transparent;
  }

  &__light-dark-button {
    margin: 0.3em 0.5em 0.3em auto;
    font-size: inherit;
  }
  
  &__language-button {
    margin: 0.3em 0.5em;
    font-size: inherit;
  }
}
