@use '../../utils/_BreakPoints' as w;

.userinfo-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  background-color: var(--secondary-color);
  padding-block: 0.3em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
  }

  body.arabic & {
    flex-direction: row-reverse;

    &__light-dark-button-container  {
      margin: 0.3em auto 0.3em 0.5em;
    }

    &__phone-number {
      @include w.breakpoint-up (medium) {
        & {
          flex-direction: row-reverse;

          &::before {
            content: "انسخ الرقم";
            right: auto;
            left: -4em;
          }

          & img {
            margin-right: 0;
            margin-left: 0.2em;
          }
    
          & h2 {
            margin-left: 0;
            margin-right: 0.2em;
          }
        } 
      }
    }
  }

  &__icons-a {    
    &__img {
      width: var(--icon-size);
      margin-inline: 0.5em;
    }
  }

  &__phone-number {
    display: none;

    @include w.breakpoint-up (medium) {
      & {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: copy;

        &::before {
          content: "Copy Number";
          position: absolute;
          top: -0.1em;
          right: -7em;
          width: auto;
          height: auto;
          padding: 0.3em;
          border-radius: 3px;
          background-color: var(--bubblePop-background-color);
          color: var(--bubblePop-color);
          opacity: 0;
          transition: opacity 0.25s ease;
        }

        &:hover::before {
          opacity: 1;
        }

        & img {
          width: var(--icon-size);
          margin-right: 0.2em;
        }
  
        & h2 {
          color: var(--font-h-color);
          margin-left: 0.2em;
          font-weight: 550;
        }
      } 
    }
  }

  
  &__light-dark-button-container, &__language-button-container {
    background-color: transparent;
  }

  &__light-dark-button-container {
    margin: 0em 0.5em 0em auto;
    font-size: inherit;
  }
  
  &__language-button-container {
    margin: 0.3em 0.5em;
    font-size: inherit;
  }
}
