.userinfo-container {
  display: flex;
  flex: 1;
  background-color: var(--secondary-color);

  body.arabic & {
    flex-direction: row-reverse;

    &__light-dark-button  {
      margin: 0.3rem auto 0.3rem 0.5rem;
    }
  }

  &__icons-a {    
    &__img {
      width: var(--icon-size);
      margin: 0.3rem 0.5rem;
    }
  }

  &__light-dark-button, &__language-button {
    background-color: transparent;
  }

  &__light-dark-button {
    margin: 0.3rem 0.5rem 0.3rem auto;
  }
  
  &__language-button {
    margin: 0.3rem 0.5rem;
  }
}
