//  White Theme
:root {
  // MAIN
  --background-color: hsl(0, 0%, 93%);
  --font-h-color: hsl(0, 0%, 0%);
  --font-p-color: hsl(0, 0%, 25%);
  --primary-color: #4B6D90;
  --secondary-color: #B8D1E0;

  // Secondary
  --button-color: hsl(0, 0%, 100%);
  --button-active-color: #4B6D90;
  --button-font-color: hsl(0, 0%, 0%);
  --button-font-active-color: hsl(0, 0%, 100%);
  --language-list-color: hsl(0, 0%, 100%);
  --language-list-color-hover: hsl(0, 0%, 90%);
  --boxEnd-border-background-color: hsl(0, 0%, 85%);

  // Navbar
  --nav-searchInput-background-color: hsl(0, 0%, 100%);
  --nav-searchInput-outline-color: hsl(0, 0%, 0%);

  // Ham Side Menu
  --hamMenu-background-color: hsl(0, 0%, 30%, 0.4);
  --hamMenu-sideBox-color: hsl(0, 0%, 100%);
  --hamMenu-menu-background-color: hsl(0, 0%, 85%);
  --sideMenu-scrollBar-background-color: hsl(0, 0%, 35%);
  --hamMenu-secondaryList-background-color: hsl(0, 0%, 80%);
  --hamMenu-thirdList-background-color: hsl(0, 0%, 65%);

  // Drop Menu 
  --dropMenu-background-color: hsl(0, 0%, 100%);

  // Bubble pop
  --bubblePop-background-color: hsl(0, 0%, 0%, 0.7);
  --bubblePop-color: hsl(0, 0%, 100%);

  // Alert
  --alert-timer-background-color: hsl(0, 0%, 50%);
  --alert-filler-background-color: hsl(0, 0%, 100%);
  // --alert-filler-hover-background-color: hsl(0, 0%, 95%);
  --alert-x-background-color: hsl(0, 0%, 70%);
}

//  Dark Theme
.dark-theme {
  // Main
  --background-color: hsl(0, 0%, 7%);
  --font-h-color: #ffffff;  
  --font-p-color: hsl(0, 0%, 75%);
  --primary-color: #85AED0;
  --secondary-color: #192740;

  --button-color: hsl(0, 0%, 0%);
  --button-font-color: hsl(0, 0%, 100%);
  --language-list-color: hsl(0, 0%, 0%);
  --language-list-color-hover: hsl(0, 0%, 10%);
  --boxEnd-border-background-color: hsl(0, 0%, 15%);

  // Navbar
  --nav-searchInput-background-color: hsl(0, 0%, 0%);
  --nav-searchInput-outline-color: hsl(0, 0%, 100%);

  // Ham Side Menu
  --hamMenu-background-color: hsl(0, 0%, 70%, 0.4);
  --hamMenu-sideBox-color: hsl(0, 0%, 0%);
  --hamMenu-menu-background-color: hsl(0, 0%, 15%);
  --sideMenu-scrollBar-background-color: hsl(0, 0%, 65%);
  --hamMenu-secondaryList-background-color: hsl(0, 0%, 20%);
  --hamMenu-thirdList-background-color: hsl(0, 0%, 35%);

  // Drop Menu
  --dropMenu-background-color: hsl(0, 0%, 0%);

  // Bubble pop 
  --bubblePop-background-color: hsl(0, 0%, 100%, 0.7);
  --bubblePop-color: hsl(0, 0%, 0%);

  // Alert
  --alert-timer-background-color: hsl(0, 0%, 50%);
  --alert-filler-background-color: hsl(0, 0%, 0%);
  // --alert-filler-hover-background-color: hsl(0, 0%, 5%);
  --alert-x-background-color: hsl(0, 0%, 30%);
}