@use '_BreakPoints' as w;

//  Icone size 
:root {
  --icon-size: 1.6em;
  
  // @include w.breakpoint(medium) {
  //   --icon-size: 1.7rem;
  // }
  // @include w.breakpoint(large) {
  //   --icon-size: 1.8rem;
  // }
  // @include w.breakpoint(xlarge) {
  //   --icon-size: 1.9rem;
  // }
}

// URLs 
:root {
  --arrow-drop-down-icon: url(src/assets/Img/Icons/arrow_drop_down.svg);
  --hamburger-icon: url(src/assets/Img/Icons/menu.svg);
  --search-icon: url(src/assets/Img/Icons/search.svg);
  --shoppingCart-icon: url(src/assets/Img/Icons/shopping_cart.svg);

  // HamMenu Vars
  // --hamMenu-menu-font: 1.5rem;
  // --hamMenu-list-font: 1.3rem;
  // --hamMenu-list-icon: 1.5rem;
  --hamMenu-exitIcon-size: 2.3em;
  // @include w.breakpoint(medium) {
  //   --hamMenu-exitIcon-size: 2.4rem;
  // }
  // @include w.breakpoint(large) {
  //   --hamMenu-exitIcon-size: 2.5rem;
  // }
  // @include w.breakpoint(xlarge) {
  //   --hamMenu-exitIcon-size: 2.6rem;
  // }

  // --hamMenu-list-icon: 1.5rem;

  // NavBar Vars
  --navBar-logoIcon-size: 4em;
  --navBar-icon-size: 2em;
}

.dark-theme {
  --arrow-drop-down-icon: url(src/assets/Img/Icons/arrow_drop_down_darkMode.svg);
  --hamburger-icon: url(src/assets/Img/Icons/menu_darkMode.svg);
  --search-icon: url(src/assets/Img/Icons/search_darkMode.svg);
  --shoppingCart-icon: url(src/assets/Img/Icons/shopping_cart_darkMode.svg);
}